<div id="app-root">
  <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Movie (Coolie)</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Tickets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <main class="container my-4">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-light text-center text-muted py-2 border-top">
    © 2025 - <strong>MovieApp</strong>
  </footer>
</div>
