<nav class="custom-navbar">
  <div class="navbar-brand" routerLink="/user/home">FlickTix</div>

  <ul class="navbar-menu">
    <li class="nav-item">
      <a class="nav-link" (click)="requestOrganizer()">
        <i class="bi bi-plus-circle"></i> Become Organizer
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/profile">
        <i class="bi bi-person-circle"></i> Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/booking-history">
        <i class="bi bi-clock-history"></i> Booking History
      </a>
    </li>
    <li class="nav-item">
      <button class="btn logout-btn" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </li>
  </ul>
</nav>
